.maplibregl-ctrl-group:not(:empty) {
  box-shadow: none;
  display: flex;
}
.maplibregl-ctrl-bottom-right .maplibregl-ctrl-group {
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 0.25rem;
  background: none;
}

.maplibregl-ctrl-attrib.maplibregl-compact,
.maplibregl-ctrl-attrib.maplibregl-compact-show {
  margin: 2px;
}

.maplibregl-ctrl-group.maplibregl-ctrl-group button {
  display: inline-block;
  border: 0;
  width: 3rem;
  height: 3rem;
  background: black;
  border-radius: 6px;
  color: inherit;
  outline: none;

  & + button {
    margin-left: 0.25rem;
  }
}
.maplibregl-ctrl button:not(:disabled):hover,
.maplibregl-ctrl button:not(:disabled):focus-visible {
  background-color: #2637f3;
}

.maplibregl-ctrl-group button:focus:first-child {
  border-radius: 0;
}
.maplibregl-ctrl-group button:focus:last-child {
  border-radius: 0;
}

.maplibregl-ctrl button .maplibregl-ctrl-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: bold;
  font-size: 1.5rem; */
  width: auto;
  height: auto;
  color: inherit;
}
.maplibregl-ctrl button.maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon {
  background-image: none;
  &::before {
    content: "+";
  }
}
.maplibregl-ctrl button.maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon {
  background-image: none;
  &::before {
    content: "-";
  }
}
